<div style="padding: 2rem">
  <!-- <div class="btn-container" *ngFor="let item of buttonArr">
    <lib-button
      [label]="item.label"
      [type]="item.type"
      [variant]="item.variant"
    ></lib-button>
  </div> -->

  <!-- <div class="icon-container">
    <lib-icon-button
      class="icon-btn"
      icon="fas fa-save"
      label="3"
      type="primary"
    >
    </lib-icon-button>
    <lib-icon-button class="icon-btn" icon="fas fa-times" type="secondary">
    </lib-icon-button>
    <lib-icon-button class="icon-btn" icon="fas fa-trash" type="danger">
    </lib-icon-button>
    <lib-icon-button class="icon-btn" icon="fas fa-check" type="success">
    </lib-icon-button>
    <lib-icon-button
      class="icon-btn"
      icon="fas fa-exclamation-triangle"
      type="warning"
    >
    </lib-icon-button>
  </div> -->
  <app-header></app-header>
  <lib-star-rating
    [maxStars]="5"
    [rating]="3"
    (ratingChange)="onRatingChange($event)"
  ></lib-star-rating>
  <router-outlet></router-outlet>
</div>
